@media (min-width: ($mobileBaseMaxSize+1)) {
  .mobile-bottom-wrap {
    display: none;
  }
}

.mobile-bottom-wrap {
  z-index: 20;
  position: fixed;
  bottom: 0;
  width: 100%;
  // height: toRem(136);
  .mobile-btn-ul {
    background-color: #fff;
    display: flex;
    justify-content: space-around;
  }
}
