.carpage-sect-cont {
  padding-top: $headerHeightPC;
  padding-bottom: 132px;
  .title-area {
    margin-top: 112px;
    .main {
      color: #191919;
      font-size: 58px;
    }
    .sub {
      margin-top: 18px;
      color: #434343;
      font-size: 26px;
      font-weight: 400;
    }
  }
}

.carpage-contents {
  margin-top: 62px;
}

.carpage-list-ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 20px;
  row-gap: 24px;
  & > li {
    border: 1px solid #dedede;
    padding: 0 12px;
    padding-bottom: 12px;
    .car-info {
      .car-name {
        font-size: 23px;
      }
      .car-price-ul {
        margin-top: 28px;
        li {
          display: flex;
          justify-content: space-between;
          padding: 6px 0;
          &:nth-of-type(1) {
            border-bottom: 1px solid #b2afaf;
          }
          p {
            font-size: 17px;
          }
          .p-price {
            color: #ee2424;
          }
        }
      }
    }
    .btn-area {
      margin-top: 12px;
      & > :is(button, a) {
        display: block;
      }
      .btn {
        width: 100%;
        border-radius: 4px;
        color: #fff;
        font-size: 13px;
        // font-weight: 600;
        height: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .btn-quote {
        background-color: #0c0c0c;
      }
      .btn-detail {
        margin-top: 4px;
        background-color: #4b57ca;
      }
    }
  }
}
