
div(class="mobile-bottom-wrap")
  ul(class="mobile-btn-ul") 
    li
      a
        img(src="", alt="")
        p 홈
    li
      a
        img(src="", alt="")
        p 카카오톡 문의
    li.btn-center 
      a
        img(src="", alt="")
        p 전화상담

    li
      a
        img(src="", alt="")
        p 즉시출고
    li
      a
        img(src="", alt="")
        p 장기렌트리스
    
